*{
  margin: 0;
  padding: 0;
}

.formname {
 text-align: center; 
 margin-top: 6px;
}

.container {
  text-align: center;
  margin-top: 20px;
  background-color: cadetblue;
}

.form-control {
  width: 220px;
  height: 20px;
}

.btn-color {
  background-color:aqua;
  width: 100px;
  height: 33px;
}